.title {
  text-align: center;
  font-size: 1.25em;
  padding: 15px 0;
}

#lezioni .row img {
  display: block;
  margin: 0 auto;
}

#lezioni, #steps, #why {
  text-align: center;
}

img {
  height: 200px;
}

h3 {
  padding: 15px 0;
  font-size: 1.25em;
}

p {
  padding-bottom: 10px;
}

.bg_grey {
  background-color: #f9f9f9;
}

#why > div[class*="col-"] {
  margin-top: 80px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

hr {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .title {
    background: linear-gradient(to right, #6190E8, #A7BFE8);
  }

  #lezioni, #why {
    background: #F2F2CD;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    font-size: 0.75em;
  }

  #steps {
    background: white;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    font-size: 0.75em;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 0;
    font-size: 0.75em;
  }

  img {
    height: 90px;
    margin-top: 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  hr {
    border-color: grey;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .title {
    background: linear-gradient(to right, #ffefba, #ffffff);
  }
}
